.footer{
    background-color: #3399cc;
    color:white;
    display:flex;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    height: 70px;
  }

.footer_2{
  background-color: #3399cc;
  color:white;
  display:flex;
  font-size: 60%;
  justify-content: center;
  align-items: center;
  }

.link{
  margin-left:70%;
  font-size: 65%;
}

.link .btn-footer{
  background-color: #3399cc;
  border-style: none;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  


}

